<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>EncryptedCall</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/default.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id='app'>
        <md-app style="min-height: 100vh;">
            <md-app-toolbar class="md-primary">
                <span class="md-title">EncryptedCall</span>
            </md-app-toolbar>

            <md-app-content>
                <div v-show="ready">
                    <div v-show="status == 'connected'">
                        <div class="md-layout md-gutter">
                            <video autoplay class="md-layout-item remote-video md-medium-size-50 md-small-size-100"
                                id="remote-video"></video>
                            <video v-show="video" autoplay muted
                                class="md-layout-item md-medium-size-50 md-small-size-100 local-video"
                                id="local-video"></video>

                        </div>

                    </div>
                    <div v-show="status != 'connected'" class="container">
                        <br>
                        <div v-if="status == 'idle'">
                            <md-card>
                                <md-card-header>
                                    <div class="md-title">Your ID: {{uuid}}</div>
                                </md-card-header>
                                <md-card-content>

                                </md-card-content>
                            </md-card>
                            <br>
                            <md-card>
                                <md-card-header>
                                    <div class="md-title">Call another user</div>
                                </md-card-header>
                                <md-card-content>
                                    <form @submit.prevent="callUser">
                                        <md-field>
                                            <label for="uuid">ID of the user to call</label>
                                            <md-input name="toCallID-name" id="uuid" autocomplete="off"
                                                v-model="toCallID" />
                                        </md-field>
                                        <md-button class="md-raised md-primary" type="submit">Call</md-button>

                                    </form>
                                </md-card-content>
                            </md-card>
                        </div>
                        <div v-else-if="status == 'calling'">
                            <md-card>
                                <md-card-header>
                                    <div class="md-title">Waiting for User to Accept Call</div>
                                </md-card-header>
                            </md-card>
                        </div>
                        <div v-else-if="status == 'called'">
                            <md-card>
                                <md-card-header>
                                    <div class="md-title">Someone has called you.</div>
                                </md-card-header>
                                <md-card-actions>
                                    <md-button class="md-raised md-primary" type="button" @click="confirmCall">
                                        Accept</md-button>
                                    <md-button class="md-raised md-accent" type="button" @click="rejectCall">Reject
                                    </md-button>
                                </md-card-actions>
                            </md-card>
                        </div>
                    </div>

                </div>
                <md-progress-spinner v-show="!ready" md-mode="indeterminate"></md-progress-spinner>

            </md-app-content>
        </md-app>



    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://unpkg.com/vue-material@1.0.0-beta-15"></script>
    <script src="https://unpkg.com/vue-toasted@1.1.28"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
        integrity="sha512-v8ng/uGxkge3d1IJuEo6dJP8JViyvms0cly9pnbfRxT6/31c3dRWxIiwGnMSWwZjHKOuY3EVmijs7k1jz/9bLA=="
        crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>

</html>